<h1>Bem-vindo a documentacao da calculadora</h1>
<p>
    Para usar a calculadora de IMC, chame a API disponivel em /calculator usando o verbo post, e enviando um payload
    contendo os valores de weight (peso) e height(altura). A resposta sera um payload com peso e altura indicada + imc e descrição.
</p>
